h1, h2, p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkslategray;
    background-color: lightcyan;
}

ol, ul {
    color: darkslategray;
    background-color: azure;
    display: block;
    margin: 0px auto;
    text-align: center;
    width: 400px;
}

img {
    width: 400px;
    height:463px;
    height: auto;
    align-items: center;
    margin: 0px auto;
    display: block;
}


